//Title In
[title-fade] {
    opacity: .8;
    @include transform(translateY(84px));
    @include transition-property(transform, opacity);
    @include transition-duration($base-speed-400);
    @include transition-timing-function($ease-in-out-circ);
    &.show{
        opacity: 1;
        @include transform(translateY(0px));
    }
}
[paragraph-fade] {
    opacity: 0;
    @include transform(translateY(24px));
    @include transition-property(transform, opacity);
    @include transition-duration($base-speed-400);
    @include transition-timing-function($ease-in-out-circ);
    &.show{
        opacity: 1;
        @include transform(translateY(0px));
    }
}
[paragraph-fade-top] {
    opacity: 0;
    @include transform(translateY(-24px));
    @include transition-property(transform, opacity);
    @include transition-duration($base-speed-400);
    @include transition-timing-function($ease-in-out-circ);
    &.show{
        opacity: 1;
        @include transform(translateY(0px));
    }
}
[buttom-fade] {
    opacity: 0;
    @include transform(translateY(-84px));
    @include transition-property(transform, opacity);
    @include transition-duration($base-speed-400);
    @include transition-timing-function($ease-in-out-circ);
    &.show{
        opacity: 1;
        @include transform(translateY(0px));
    }
}
//Fade
.fadeIn-enter-active, .fadeIn-leave-active{
    @include transform(translateY(0px));
    @include transition-property(all);
    @include transition-duration($base-speed-400);
    @include transition-timing-function($ease-in-out-circ);
}
.fadeIn-enter, .fadeIn-leave-to{
    opacity: 0;
    @include transform(translateY(-24px));
}
//Vibration
.vibration-enter-active, .vibration-leave-active{
    @include transition-property(all);
    @include transition-duration($base-speed-400);
    @include transition-timing-function($ease-in-out-circ);
    // @include transition-delay(.4s);
}
.vibration-enter, .vibration-leave-to{;
    opacity: 0;
    @include transform(translateY(-24px));
}
//Menu Toggle
.showMenu-enter-active, .showMenu-leave-active{
    height: 100vh;
    @include transition-property(all);
    @include transition-duration($base-speed-400);
    @include transition-timing-function($ease-in-out-circ);
}
.showMenu-enter, .showMenu-leave-to{
    padding: 0;
    height: 0vh;
}
.show-view{
    &-in{
        &-leave-active, &-enter-active {
            @include transition-property(all);
            @include transition-duration($base-speed-400);
            @include transition-timing-function($ease-in-out-circ);
            @include transform(translateX(0px));
            .loading-page{
                height: 100%;
                @include transition-property(height);
                @include transition-duration($base-speed-400);
                @include transition-timing-function($ease-in-out-circ);
            }
            .page-head{
                @include transition-property(all);
                @include transition-duration($base-speed-400);
                @include transition-timing-function($ease-in-out-circ);
                @include transform(translateX(0px));
                .landpage-box{
                    height: 0px;
                    width: 4px;
                    // padding: 0;
                    small{
                        padding: 0;
                        height: 0;
                    }
                }
            }
            *{
                @include transition-property(all);
                @include transition-duration($base-speed-400);
                @include transition-timing-function($ease-in-out-circ);
                @include transform(translateX(0px));
                opacity: 1;
            }
        }
        &-enter, &-leave-active {
            .page-head {
                height: 100%;
                padding: 0 !important;
                span{
                    opacity: 0;
                }
            }
            .loading-page{
                height: 0%;
            }
            *{
                opacity: 0;
            }
        }
    }
}