<template>
  <main-layout>
    <section flex-container="column" flex-item="12" flex-align="space-between center" flex-wrap class="page-head full-height">
        <section flex-container="row" flex-align="center center" class="full-height">
        <span class="fs-large-title mb+++">Not found</span>
        <button-link :routeName="'/'" :buttonType="'link'">back to home</button-link>
      </section>
    </section>
  </main-layout>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'
  import ButtonLink from '../components/ButtonLink.vue'

  export default {
    components: {
      MainLayout,
      ButtonLink
    }
  }
</script>