<template>
  <main-layout>
    <section flex-container="column" flex-item="12" flex-align="center center" flex-wrap class="page-head full-height" id="landpage">
      <div flex-container="row" flex-align="center center" class="home-logo">
        <div class="landpage-box tc-red" :style="imagePage">
          <small>About <br> yo</small>
        </div>
      </div>
      <div flex-container="row" class="m+ fs-caption-1 tc-black-2 fs-lighter text-center home-footer">
        <span paragraph-fade-top id="landPageFoot">Soy yo</span>
      </div>
    </section>
    <!-- Kelvin Anrold -->
    <section flex-container="column" flex-item="12" flex-align="center center" flex-wrap class="page pb+++">
      <section class="text-center pl++ pr++ pb+++ paragraph-small" flex-container="row" flex-wrap flex-align="center center">

        <div flex-container="row" class="over-flow-hidden fs-large-title">
          <span title-fade scroll-dependency="landPageFoot" v-scroll-animation="handleScroll">Kelvin Arnold.</span>
        </div>

        <div class="over-flow-hidden fs-body tc-black-1" flex-item="12">
          <div class="container" paragraph-fade v-scroll-animation="handleScroll">
            <span class="display-block p+++">Peruvian guy lost in brasil, js fullstack developer, UX/UI/Product designer & cartoon lover ;).</span>
          </div>
        </div>
      </section>
    </section>
    <!-- <section flex-container="column" flex-item="12" flex-align="center center" flex-wrap class="page p+++">
      <section class="text-center pl++ pr++ pb+++ paragraph-small" flex-container="row" flex-wrap flex-align="center center">

        <div flex-container="row" class="over-flow-hidden fs-large-title mb mt+++">
          <span title-fade scroll-dependency="landPageFoot" v-scroll-animation="handleScroll">Kelvin Arnold.</span>
        </div>

        <div class="over-flow-hidden fs-body tc-black-1 mt+ mb+++" flex-item="12">
          <div class="container" paragraph-fade v-scroll-animation="handleScroll">
            <span class=" mb+++ display-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dignissim iaculis aliquam. Nulla vitae porttitor enim.</span>
          </div>
        </div>

      </section>
    </section> -->
    <section flex-container="column" flex-item="12" flex-align="center center" flex-wrap class="page-head">
      <section flex-container="row" class="pb+++ paragraph-medium" flex-item="12" flex-wrap>
        <div flex-container="row" flex-item="12" class="mt+ mb+" flex-align="space-between center">
          <div flex-item="6" flex-container="row" flex-align="center">
            <div card v-scroll-animation="handleScroll">
              <card-box :title="'Kelvin Arnold'" :description="false" :image="'image10'" :size="'medium'"></card-box>
            </div>
          </div>
          <div flex-item="6" class="text-left fs-sub-head over-flow-hidden p+++">
            <div class="container" paragraph-fade v-scroll-animation="handleScroll">
              Hola! mi nombre es Kelvin Arnold un peruano perdido en São Paulo - Brasil, soy un js fullstack developer, UX/UI/ Product designer y un loco perfeccionista por mantener el equilibrio entre los simple y lo complejo. Amo pensar siempre en colores y en como diseñar productos que enamoren por su simplicidad y belleza.
            </div>
          </div>
        </div>
        <div flex-container="row" flex-item="12" class="mt+ mb+" flex-align="space-between center">
          <div flex-item="6" class="text-left over-flow-hidden p+++">
            <span class="fs-subhead fs-bold mb+ display-block">Title</span>
            <div class="container fs-sub-head" paragraph-fade v-scroll-animation="handleScroll">
              En mi vida personal puedo decir que soy um amante del mar que gusta de las cosas simples, escuchar cualquier tipo de musica y en mis horas libres, cuando no estoy creando, estoy aprendiendo.
            </div>
          </div>
          <div flex-item="6" flex-container="row" flex-align="center">
            <div card v-scroll-animation="handleScroll">
              <card-box :title="'Kelvin Arnold'" :description="false" :image="'image10'" :size="'tiny'"></card-box>
            </div>
          </div>
        </div>
      </section>
    </section>
    <section flex-container="column" flex-item="12" flex-align="center center" flex-wrap class="full-height page pt+++">
      <section class="text-center pl+++ pr+++ pb+++ paragraph-medium" flex-container="row" flex-wrap flex-align="center center">

        <div flex-container="row" class="over-flow-hidden fs-large-title mb mt+++">
          <span title-fade v-scroll-animation="handleScroll">Skills.</span>
        </div>

        <div class="over-flow-hidden tc-black-1 mt+" flex-item="12">
          <div class="container" paragraph-fade v-scroll-animation="handleScroll">
            <span class=" mb+++ display-block">Lorem ipsum dolor sit ame.</span>
          </div>
        </div>

        <div flex-container="row" flex-item="12" class="over-flow-hidden" flex-align="start">
          <div flex-item="4" flex-container="row" flex-align="center" 
            v-for="(row, key) in getSkills" :id="'skill'+key"
            paragraph-fade 
            v-scroll-animation="handleScroll">
            <ul class="list mt+++">
              <li class="title fs-caption-2">{{row.title}}</li>
              <li class="fs-caption-1" v-for="(r, k) in row.list" :id="'skill_item'+k">{{r}}</li>
            </ul>
          </div>
        </div>
      </section>
    </section>
    <section flex-container="column" flex-item="12" flex-align="center center" flex-wrap class="page pb+++">
      <section class="text-center pb+++ paragraph-medium" flex-container="row" flex-wrap flex-align="center center">

        <div flex-container="row" class="over-flow-hidden fs-large-title mb+++">
          <span title-fade scroll-dependency="landPageFoot" v-scroll-animation="handleScroll">Others things.</span>
        </div>

        <div flex-container="row" flex-item="12" class="mt+ mb+" flex-align="space-between center">
          <div flex-item="6" class="text-left over-flow-hidden p+++">
            <span class="fs-subhead fs-bold mb+ display-block">Title</span>
            <div class="container fs-sub-head" paragraph-fade v-scroll-animation="handleScroll">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et tortor at risus viverra adipiscing at in. Consequat semper viverra nam libero justo.
            </div>
          </div>
          <div flex-item="6" flex-container="row" flex-align="center">
            <div card v-scroll-animation="handleScroll">
              <card-box :title="'Kelvin Arnold'" :description="false" :image="'image10'" :size="'small'"></card-box>
            </div>
          </div>
        </div>

        <div flex-container="row" flex-item="12" class="mt+ mb+" flex-align="space-between center">
          <div flex-item="6" class="text-left over-flow-hidden p+++">
            <span class="fs-subhead fs-bold mb+ display-block">Title</span>
            <div class="container fs-sub-head" paragraph-fade v-scroll-animation="handleScroll">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et tortor at risus viverra adipiscing at in. Consequat semper viverra nam libero justo.
            </div>
          </div>
          <div flex-item="6" flex-container="row" flex-align="center">
            <div card v-scroll-animation="handleScroll">
              <card-box :title="'Kelvin Arnold'" :description="false" :image="'image10'" :size="'small'"></card-box>
            </div>
          </div>
        </div>

        <div flex-container="row" flex-item="12" class="mt+ mb+" flex-align="space-between center">
          <div flex-item="6" class="text-left over-flow-hidden p+++">
            <span class="fs-subhead fs-bold mb+ display-block">Title</span>
            <div class="container fs-sub-head" paragraph-fade v-scroll-animation="handleScroll">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et tortor at risus viverra adipiscing at in. Consequat semper viverra nam libero justo.
            </div>
          </div>
          <div flex-item="6" flex-container="row" flex-align="center">
            <div card v-scroll-animation="handleScroll">
              <card-box :title="'Kelvin Arnold'" :description="false" :image="'image10'" :size="'small'"></card-box>
            </div>
          </div>
        </div>

      </section>
    </section>
    <form-contact></form-contact>
  </main-layout>
</template>
<script>
  import Store            from '../store'
	import MainLayout       from '../layouts/Main.vue'
  import ButtonLink       from '../components/ButtonLink.vue'
  import CardBox          from '../components/CardBox.vue'
  import FormContact      from '../components/FormContact.vue'
  import handleMixin      from '../mixins/handleScroll.vue'
  
  let windowHeight =  Math.max(document.documentElement.clientHeight, window.innerHeight || 0)

	export default {
		data: function() {
      return {
        imagePage: {
          backgroundImage: 'url('+ require('../assets/images/about.jpg') + ')'
        }
      }
		},
		components: {
      MainLayout,
      ButtonLink,
      CardBox,
      FormContact
    },

    mixins: [ handleMixin ],

    methods: {
      
    },

    computed: {
      getSkills() {
        return Store.getters.getSkills
      }
    },

    mounted() {

    },

    directives: {

    }
	}
</script>
<style lang="scss">

</style>
