<template>
  <main-layout>
    <!-- Header page -->
    <section flex-container="column" flex-item="12" flex-align="space-between center" flex-wrap class="page-head full-height" id="home">
      <div flex-container="row" flex-align="center center" class="home-logo full-width">
        <!-- <span class="text-center big-logo">kvell arnold.</span> -->
        <div class="landpage-box tc-blue" :style="imagePage">
          <small>kvell <br> arnold</small>
        </div>
      </div>
      <div flex-container="row" class="m+ fs-caption-1 tc-black-2 fs-lighter text-center home-footer">
        <span paragraph-fade-top id="landPageFoot">Some one who love dev :)</span>
      </div>
    </section>
    <!-- Who i am -->
    <section flex-container="column" flex-item="12" flex-align="center center" flex-wrap class="full-height page pb+++">
      <section class="text-center pl++ pr++ pb+++ paragraph-small" flex-container="row" flex-wrap flex-align="center center">

        <div flex-container="row" class="over-flow-hidden fs-large-title mb">
          <span title-fade scroll-dependency="landPageFoot" v-scroll-animation="handleScroll">Hello.</span>
        </div>

        <div class="over-flow-hidden fs-body tc-black-1 mt+" flex-item="12">
          <div class="container" paragraph-fade v-scroll-animation="handleScroll">
            <span class=" mb+++ display-block">I’m Kevin Arnold, a fullstack developer, designer and a sea lover. I enjoy working with passionate people who do amazing things :).</span>
            <button-link :buttonType="'link'" :routeName="'AboutMe'">About me</button-link>
          </div>
        </div>
      </section>
    </section>
    <!-- Projects -->
    <section flex-container="column" flex-item="12" flex-align="center center" class="" id="projects">
      <section class="paragraph-medium" flex-container="row" flex-wrap flex-align="center center">
        <div class="full-height">
          <div v-for="(row, key) in getProjects" :id="'card-box'+row.key" class="left" card v-scroll-animation="handleScroll" v-if="key % 2 === 0">
            <card-box :title="row.title" :data="row.description" :image="row.image" :color="row.color" :link="row.link" :size="'small'"></card-box>
          </div>
        </div>
        <div>
          <div v-for="(row, key) in getProjects" :id="'card-box'+row.key" class="right" card v-scroll-animation="handleScroll" v-if="key % 2 !== 0">
            <card-box :title="row.title" :data="row.description" :image="row.image" :color="row.color" :link="row.link" :size="'small'"></card-box>
          </div>
        </div>
      </section>
    </section>
    <form-contact></form-contact>
  </main-layout>
</template>

<style lang="scss">
  @import "../styles/_pages/home";
</style>

<script>
  import Store            from '../store'
  import MainLayout       from '../layouts/Main.vue'
  import ButtonLink       from '../components/ButtonLink.vue'
  import CardBox          from '../components/CardBox.vue'
  import FormContact      from '../components/FormContact.vue'
  import handleMixin      from '../mixins/handleScroll.vue'
  
  export default {
    
    data: () => {
      return {
        imagePage: {
          backgroundImage: 'url('+ require('../assets/images/home.jpg') + ')'
        }
      }
    },

    components: {
      MainLayout,
      ButtonLink,
      CardBox,
      FormContact
    },

    mixins: [ handleMixin ],
    
    methods: {
      
    },

    computed: {
      getProjects() {
        return Store.getters.getProjects
      }
    },

    mounted() {
      
    },

    directives: {
      
    }
  }
</script>