<template>
  <main-layout>
		<section flex-container="column" flex-item="12" flex-align="center center" flex-wrap 
			class="page-head parcial-height tc-white over-flow-hidden" :class="{ ['bgc-'+ getProjectData.color]: true }" id="landpage">
      <section flex-container="row" flex-align="start center" class="paragraph-medium p+++ title">
        <span class="fs-large-title word-wrap">{{getProjectData.title}}</span>
      </section>
			<span class="fs-foot text-upper-case goto"></span>
			<span id="landPageFoot"></span>
    </section>
		<section flex-container="column" flex-item="12" flex-align="center center" flex-wrap class="pb+++ pt+++" id="project">
      <section class="text-center pl++ pr++ pb+++ paragraph-medium" flex-container="row" flex-wrap flex-align="between center">
				<div flex-item="12" flex-container="row" flex-wrap flex-align="start start" class="mt+ mb+">
					<span class="fs-caption-1 display-block mb++ text-left" flex-item="12">Visitar site</span>
					<div class="grid fs-caption-2 display-block text-left" flex-item="12">
						<p class="item"><span class="row-title text-bold">Client</span><span class="row-content">{{getProjectData.data.client}}</span></p>
						<p class="item"><span class="row-title text-bold">Completd</span><span class="row-content">{{getProjectData.data.completed}}</span></p>
						<p class="item"><span class="row-title text-bold">Tools</span><span class="row-content">{{getProjectData.data.tools}}</span></p>
						<p class="item"><span class="row-title text-bold">Scope</span><span class="row-content">{{getProjectData.data.scope}}</span></p>
					</div>
				</div>
      </section>
    </section>
	</main-layout>
</template>
<script>

	import Store            from '../store'
	import MainLayout       from '../layouts/Main.vue'
	//import handleMixin      from '../mixins/handleScroll.vue'

	export default {
		data: () => {
			return {
				key: ''
			}
		},

		mixins: [
			//handleMixin
		],

		components: {
      MainLayout
		},

		methods: {
			
		},

		computed: {
			getProjectData() {
				return Store.getters.getProjects.filter((v) => {
					return v.link == this.$route.params.key
				})[0]
			}
		}
	}
</script>