//*------------------------------------*
//  #GENERIC-RESET
//*------------------------------------*

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr, a, input {
    list-style: none;
    font-family: 'Pangram', sans-serif;
    font-weight: 400;
    letter-spacing: $base-btn-letter-spacing;
    margin:  0;
    padding: 0;
    text-decoration: none;
}
.letter-spacing-none{
    letter-spacing: .1em !important;
}
.line-height-none{
    line-height: .1em !important;
}