.btn{
    // Some
    display: inline-block;
    cursor: pointer !important;    
    position: relative;    
    .text{
        font-weight: 400;
    }
    &-form{
        button{
            border: none;
            background-color: transparent;
            color: $blue-color;
            cursor: pointer;
            font-weight: 200 !important;
            letter-spacing: $base-text-letter-spacing;
            position: relative;
            @include border-top-radius($base-corner-radius);
            @include border-right-radius($base-corner-radius);
            @include border-bottom-radius($base-corner-radius);
            @include border-left-radius($base-corner-radius);
            @include transition-property(color);
            @include transition-duration(0.365s);
            @include transition-timing-function($ease-in-out-circ);
            &:before, &:after{
                position: absolute;
                content: '';
                background-color: $blue-color;
                height: 0%;
                width: 50%;
                z-index: -1;
                @include transition-property(height);
                @include transition-duration(0.365s);
                @include transition-timing-function($ease-in-out-circ);
            }
            &:before{
                left: 0;
                bottom: 0;
            }
            &:after{
                right: 0;
                top: 0;
            }
            &:hover{
                color: $white;
                &:before, &:after{
                    @include calc(height, "100% + 3pt");
                }
            }
        }
    }
    .btn-underline{
        bottom: -($base-line-height) * 0.01;
        height: 2.45em;
        margin: 0 auto;
        margin-top: $base-spacing-unit;
        position: relative;
        width: 58%;
        &:before{
            background-color: $black;
            content: '';
            height: 2px;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 0%;
            @include transition-property(width);
            @include transition-duration(0.365s);
            @include transition-timing-function($ease-in-out-circ);
        }
    }
    &.btnOver-Class{
        .btn-underline:before{
            opacity: 1;
            left: 0;
            width: 100%;
        }
    }
    &.btnLeave-Class{
        .btn-underline:before{
            left: initial !important;
            right: 0 !important;
            width: 0%;
        }
    }
    
}