[card] {
    cursor: pointer;
    opacity: 0;
    @include transition-property(opacity);
    @include transition-duration($base-speed-400);
    @include transition-timing-function($ease-in-out-circ);
    @include media-query(desk) {
        &.left{
            &:nth-child(1){
                margin-top: 0 !important;
            }
            &:nth-child(n + 1){
                margin-top: 15%;
            }
        }
        &.right{
            &:nth-child(1){
                margin-top: 5% !important;
            }
            &:nth-child(n + 1) {
                margin-top: 15%;
            }
        }
    }
    &.show{
        opacity: 1;
        .card{
            &-container{
                background-size: 100% !important;
                @include media-query(palm) {
                    // background-size: cover !important;    
                }
            }
        }        
    }
    .card{
        &-tiny{
            height: 320pt;
            width: 320pt;
        }
        &-small{
            height: 420pt;
            width: 420pt;
        }
        &-medium{
            height: 480pt;
            width: 480pt;
        }
        &-container{
            background-color: $black;
            overflow: hidden;
            position: relative;
            background-size: 120%;
            background-position: center;
            background-repeat: no-repeat;
            @include transition-property(background-size);
            @include transition-duration($base-speed-400);
            @include transition-timing-function($ease-in-out-circ);
            .description{
                background-color: red;
                bottom: 0;
                left: 0;
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                @include transition-property(opacity);
                @include transition-duration($base-speed-400);
                @include transition-timing-function($ease-in-out-circ);
                .link{
                    position: absolute;
                    bottom: $base-spacing-unit * 4;
                    right: $base-spacing-unit * 4;   
                }
            }
            @include media-query(desk) {
                &:hover{
                    .description{
                        opacity: 1;
                    }
                }
            }
            @include media-query(palm) {
                margin: 0 !important;
                // height: 468pt !important;
                width: 100% !important;
                padding: 0 !important;
                .description{
                    background-color: transparent !important;
                    margin: 0 !important;
                    opacity: 1;
                }
            }
        }
    }
}
