.footer{
    display: block;
    &-container{
        position: relative;
        z-index: 2  ;
        .foot-contact{
            @include media-query(palm) {
                text-align: left !important;
            }
        }
    }
    &-goto{
        cursor: pointer;
        @include transition-property(transform);
        @include transition-duration(0.225s);
        @include transition-timing-function(ease-in-out);
        @include transform(translateY(-72px));
        &:after{
            background-color: $black;
            content: '';
            height: 54pt;
            position: absolute;
            right: 44pt;
            top: -54pt;
            width: 1px;
            @include media-query(palm) {
                height: 34pt;
                text-align: left !important;
                top: -34pt;
            }
        }
        &:before{
            color: $black;
            content: 'Top';
            cursor: pointer;
            cursor: pointer;
            font-weight: 700;
            line-height: 24pt;
            position: absolute;
            right: 34pt;
            top: -78pt;
            @include media-query(palm) {
                text-align: left !important;
                top: -58pt;
            }
        }
        &:hover{
            @include transform(translateY(-76px));
        }
    }
    &-information{
        position: relative;
    }

}