.nav{
    &-float{
        left: 0;
        position: fixed;
        top: 0;
        z-index: 999;
        @include media-query(desk) {
            
        }
        @include media-query(palm) {
            .logo{
                float: left;
                display: inline-block;
            }
            .menu-container{
                display: inline-block;
                float: right;
            }
        }
    }
}
// logo
.logo{
    height: 34px;
    overflow: hidden;
    padding: 0 18px 0 18px;
    position: relative;
    @include border-top-radius($base-corner-radius);
    @include border-right-radius($base-corner-radius);
    @include border-bottom-radius($base-corner-radius);
    @include border-left-radius($base-corner-radius);
    .logoname{
        @include media-query(palm) {
            color: $white;
        }
        @include transition-property(color);
        @include transition-duration($base-speed-200);
        @include transition-timing-function($ease-in-out-circ);
    }
    .logoback{
        background-color: $black;
        height: 34px;
        left: 0;
        position: absolute;
        bottom: 0;
        top: 0;
        width: 100%;
        z-index: -1;
        opacity: 0;
        @include transform(translateY(34px));
        @include media-query(palm) {
            opacity: 1;
            @include transform(translateY(0));
        }
        @include transition-property(transform);
        @include transition-duration($base-speed-400);
        @include transition-timing-function($ease-in-out-circ);
    }
    .logoOverClass{
        @include media-query(desk) {
            opacity: 1;
            @include transform(translateY(0px));
        }
    }
    .logoLeaveClass{
        @include media-query(desk) {
            @include transform(translateY(-34px));
        }
    }
    &:hover{
        .logoname{
            color: white;
        }
    }
}

.menu-container{
    position: relative;
    cursor: pointer;
    .menu-icon{
        
    }
    .menu-burguer{
        margin-right: 48px;
    }
    img{
        position: absolute;
        top: -4px;
        right: 0;
    }
}

.menu{
    &-lateral{
        bottom: 0;
        height: 0vh;
        overflow: hidden;
        position: fixed;
        right: 0;
        top: 0;
        @include transition-property(height);
        @include transition-duration($base-speed-400);
        @include transition-timing-function($ease-in-out-circ);
        &-left{
            @include media-query(palm) {
                display: none;
            }
        }
        &-right{
            @include media-query(palm) {
                display: flex;
                align-items: center;
                padding: $base-spacing-unit * 7 !important;
                nav{
                    margin: 0 !important;
                    a{
                        font-size: 42pt !important;
                    }
                }
            }
        }
        &-left, &-right{
            @include transition-property(background-color);
            @include transition-duration($base-speed-200);
            @include transition-timing-function($ease-in-out-circ);
            ul{
                opacity: 0;
                @include transition-property(opacity);
                @include transition-duration(0.365s);
                @include transition-timing-function($ease-in-out-circ);
            }
        }
        &.show{
            height: 100vh;
            ul{
                opacity: 1;
            }
        }
    }
    &-title{
        opacity: 1;
        padding-left: 58pt;
        position: relative;
        line-height: 24pt;
        &:after{
            background-color: white;
            content: '';
            height: .05rem;
            left: 0;
            top: 14px;
            position: absolute;
            width: 50pt;
        }
    }
    &-list{
        li {
            display: block;
            max-height: 1.5em;
            line-height: 1.5em;
            cursor: pointer;
            opacity: 1;
            overflow: hidden;
            position: relative;
            @include transition-property(opacity);
            @include transition-duration($base-speed-400);
            @include transition-timing-function($ease-in-out-circ);
            .text{
                position: relative;
            }
            .lineThrough{
                position: absolute;
                height: 18px;
                width: 0%;
                background-color: $white;
                top: .55em;
                left: -10px;
                @include transition-property(width);
                @include transition-duration($base-speed-400);
                @include transition-timing-function($ease-in-out-circ); 
            }
            .content{
                display: block;
                @include transform(translateY(0));
                @include transition-property(transform);
                @include transition-duration($base-speed-400);
                @include transition-timing-function($ease-in-out-circ);
            }
            &.hover{
                opacity: 1 !important;
                .content{
                    @include transform(translateY(-50%));
                }
            }
            &.unhover{
                opacity: 0.4;
            }
        }
    }
}