.text-input--container {
    border-bottom: .05rem solid $black;
    position: relative;
    .text-input {
        @include appearance(none);
        border: none !important;
        color: $black;
        font-weight: 400;
        outline: none;
        padding: $base-spacing-unit * 3;
        width: 100%;
        @include placeholder {
            color: $black-1;
        }
    }
    .error{
        position: absolute;
        left: 0;
        bottom: -1.6em;
    }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}