.home-logo{
    @include media-query(desk) {
        height: calc(100% - 63px);
    }
    @include media-query(lap) {
        height: calc(100% - 63px);
    }
    @include media-query(palm) {
        height: 100%;
    }
}
.home-footer{
    @include media-query(palm) {
        bottom: 0;
        left: 0;
        margin: 0 !important;
        padding: $base-spacing-unit * 2;
        position: absolute;
        width: 100%;
    }
}
.title-container{
    overflow: hidden;
}
.big-logo {
    // filter: blur(10pt);
    font-size: 10vw;
    font-weight: 900;
    transform: rotate(-10deg) skew(-10deg) scaleY(1.8) scaleX(1.15);
    @include transition-property(all);
    @include transition-duration(.930s);
    @include transition-timing-function($ease-in-out-circ);
    &:hover{
      filter: blur(none);
    }
}
  
.landpage-box {    
    display: block;
    line-height: .6em;
    font-weight: 900;
    letter-spacing: .05em;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    @include transition-property(all);
    @include transition-duration($base-speed-200);
    @include transition-timing-function($ease-in-out-circ);
    small{
        background-color: $black-5;
        position: absolute;
        left: 0;
        padding: .5em .35em;
        overflow: hidden;
        @include media-query(desk) {
            top: 0;
            width: 100%;
            height: 100%;
        }
        @include media-query(palm) {
            top: 50%;
            width: 100%;
            @include transform(translateY(-50%));
        }
        @include transition-property(all);
        @include transition-duration($base-speed-400);
        @include transition-timing-function($ease-in-out-circ);
    }
    @include media-query(desk) {
        background-size: 110%;
        font-size: 36pt;
        height: 160pt;
        width: 160pt;
        &:hover{
            width: 320pt;
            height: 568pt;
            cursor: pointer;
            background-size: 100%;
        }
    }
    @include media-query(palm) {
        background-size: cover;
        font-size: 56pt;
        height: 100%;
        width: 100%;
    }
}
.list{
	text-align: left;
	.title{
		font-weight: 600;
		margin-bottom: 1em;
	}
	li{
		font-weight: 400;
		display: block;
		line-height: $base-line-height;
	}
}
.grid{
    .item{
        display: block;
        width: 100%;
        line-height: $base-line-height;
        @include media-query(palm) {
            line-height: $base-line-height * 0.8;
            margin-bottom: $base-spacing-unit * 4;
        }
    }
    .row{
        &-title{
            display: inline-block;
            width: 140px;
            @include media-query(palm) {
                display: block;
                width: 100%;
            }
        }
        &-content{
            display: inline-block;
            @include media-query(palm) {
                display: block;
                width: 100%;
            }
        }
    }
}
.loading-page{
    background-color: $black;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}
.word-wrap{
    word-wrap: break-word;
}