//*------------------------------------*
//  #SETTINGS-COLORS
//*------------------------------------*

// IOS Colors Pallete
$red-color:         rgba(255,59,47,1)   !default;
$orange-color:      rgba(255,149,0,1)   !default;
$yellow-color:      rgba(255,204,0,1)   !default;
$green-color:       rgba(76,217,100,1)  !default;
$teal-color:        rgba(90,200,250,1)  !default;
$blue-color:        rgba(0,122,255,1)   !default;
$purple-color:      rgba(86,84,214,1)   !default;
$pink-color:        rgba(255,85,45,1)   !default;

//Sizes
$size-xxxxl:        34pt    !default;
$size-xxxl:         28pt    !default;
$size-xxl:          22pt    !default;
$size-xl:           20pt    !default;
$size-l:            17pt    !default;
$size-m:            15pt    !default;
$size-s:            13pt    !default;
$size-xs:           11pt    !default;

//Grey
$grey:              #1b1d1f                 !default;

// Black
$black:             #000000;
$black-1:           rgba(0, 0, 0, 0.87)     !default;
$black-2:           rgba(0, 0, 0, 0.54)     !default;
$black-3:           rgba(0, 0, 0, 0.38)     !default;
$black-4:           rgba(0, 0, 0, 0.12)     !default;
$black-5:           rgba(0, 0, 0, 0.02)     !default;

// White
$white:             #FFFFFF;
$white-1:           #FFFFFF;
$white-2:           rgba(255, 255, 255, 0.70);
$white-3:           rgba(255, 255, 255, 0.30);
$white-4:           rgba(255, 255, 255, 0.12);