//*------------------------------------*
//  #SETTINGS-DEFAULT
//*------------------------------------*

//High-level settings
$base-font-size:            17pt        !default;
$base-line-height:          22pt        !default;
$base-text-color:           $black-1    !default;
$base-backgroun-color:      $white      !default;
$base-corner-radius:        1pt         !default;
$base-text-letter-spacing:  1.65pt      !default;
$base-btn-letter-spacing:   .05em      !default;

$base-spacing-unit:         4pt;
$base-speed-400:            .465s;
$base-speed-300:            .365s;
$base-speed-200:            .265s;