<template>
  <div class="btn-container">
    <div v-if="buttonType == 'form'" class="btn btn-form"
      v-on:mouseover="btnOver()" 
      v-on:mouseleave="btnLeave()" 
      v-bind:class="{ 'btnOver-Class':over, 'btnLeave-Class':leave }">
      <button type="button" @click="onClick" class="p pl++ pr++ fs-foot-note" :disabled="disabled">
        <slot>Sender</slot>
      </button>
    </div>
    <div v-if="buttonType == 'link'" class="btn" 
      v-on:mouseover="btnOver()" 
      v-on:mouseleave="btnLeave()" 
      v-bind:class="{ 'btnOver-Class':over, 'btnLeave-Class':leave }">
      <span class="p pl++ pr++ fs-foot-note">
        <router-link :to="{name: routeName}" class="tc-black-1 text">
          <slot>Button</slot>
        </router-link>
      </span>
      <div class="btn-underline"></div>
    </div>
  </div>
  
</template>
<script>
    export default {
      data() {
        return {
          over: false,
          leave: false,
          animating: false,
          delay: 365
        }
      },
      props: {
        buttonType: {
          type: String,
          required: true
        },
        disabled: {
          type: Boolean
        },
        routeName: {
          type: String,
          required: true  
        },
        onClick: {
          type: Function
        }
      },
      methods: {
        btnOver() {
          this.over = true;
        },
        btnLeave() {
          this.leave = true;
          setTimeout(() => {
            this.clearAll();
          }, this.delay)
        },
        clearAll() {
          this.over = false
          this.leave = false
          this.animating = false;
        }
      }
    }
</script>