<template>
  <div class="card-container p++ m+" v-bind:style="styleLoad" :class="{['card-'+size ]: true}">
		<div class="description m+ p+++ tc-white" v-bind:class="{ '': cardHover, ['bgc-'+color]: true}" v-if="description">
			<span class="fs-foot mb++ display-block">web development</span>
			<span class="description-title fs-bold fs-title-3 display-block mb">
				{{title}}
			</span>
			<span class="description-data fs-caption-2">
				{{data}}
			</span>
			<router-link :to="'/Project/'+link" class="link fs-caption-1 tc-white">Go to project</router-link>
		</div>
  </div>
</template>
<script>
    export default {
			data() {
				return {
					styleObj: {},
					cardHover: false
				}
			},
			props: {
				title: {
					type: String
				},
				data: {
					type: String
				},
				image: {
					type: String
				},
				color: {
					type: String
				},
				description: {
					type: Boolean,
					default: true
				},
				size: {
					type: String,
					default: 'small'
				},
				link: {
					type: String
				}
			},
			computed: {
				styleLoad() {
					// let size = this.getSize()
					return {
						backgroundImage: 'url('+ require('../assets/images/'+this.image+'.jpg') + ')'
					}
				}
			},
			methods: {
				// getSize() {
				// 	let h, w;
				// 	switch (this.size) {
				// 		case 'tiny':
				// 			h = '320pt';
				// 			w = '320pt';
				// 			break;
				// 		case 'small':
				// 			h = '420pt';
				// 			w = '420pt';
				// 			break;
				// 		default:
				// 			h = '480pt';
				// 			w = '480pt';
				// 			break
				// 	}
				// 	return {
				// 		height: h,
				// 		width: w
				// 	}
				// },
				hover() {

				},
				leave() {

				}
			}
		}
</script>