<template>
  <section flex-container="column" class="footer-container full-width bgc-black tc-white fs-foot p+ pt+++ pb+++ text-upper-case">
    <div flex-item="12" flex-container="row" flex-align="space-between center" id="foot-information" class="footer-information">
      <div flex-item id="foot-others" class="foot-others text-left">
        <span class="display-block">
          <slot>2018 KVELL ARNOLD. ALL RIGHTS RESERVED</slot>
        </span>
        <span class="display-block">
          <slot>DESIGN.CODE.LIVE</slot>
        </span>
      </div>
      <div flex-item id="foot-contact" class="foot-contact text-right">
        <span class="display-block">
          <slot>kvell@nicesmartguy.com</slot>
        </span>
      </div>
    </div>
    <span class="footer-goto" @click="goTop()"></span>
  </section>
</template>
<script>
    export default {
      data: function() {
          return {
            
          }
      },
      methods: {
        goTop() {
          let el = document.getElementById('home')
          el.scrollIntoView({behavior: 'smooth'})
        }
      },
      created () {
        document.addEventListener('scroll', this.handleScroll);
      },

      destroyed () {
        document.removeEventListener('scroll', this.handleScroll);
      }
    }
</script>