<template>
  <!-- Say hello -->
    <section flex-container="column" flex-item="12" flex-align="center center" flex-wrap class="min-height pb+++ pt+++">
      <section class="text-center pl++ pr++ pb+++ paragraph-small" flex-container="row" flex-wrap flex-align="center center">

        <div flex-container="row" class="title-container fs-large-title mb" id="animateTitlePage2">
          <span title-fade v-scroll-animation="handleScroll">Say Hello.</span>
        </div>
        <div class="fs-body tc-black-1 mt+ mb+++" flex-item="12">
          <span paragraph-fade v-scroll-animation="handleScroll">If you liked my job and you want to contact me, just say Hola que tal no input box for get a cup of coffe and talk about a future :)</span>
        </div>
        <div class="mt+++" flex-item="10">
          <form method="post">
            <div flex-container="row" flex-wrap>
              <div flex-item="12">
                <text-input :name="'hello'" :placeHolder="'Hola que tal'" :inputtype="'textarea'" :required="true" :valid="true" :message-error="'Put a message please'" v-model="formContact.message.value"/>
              </div>
              <transition name="fadeIn" mode="out-in">
                <div flex-item="12" class="mt++" v-show="getMessage">
                  <text-input :name="'name'"
										:placeHolder="'Name'" 
                    :inputtype="'text'" 
                    :required="true" 
                    :valid="formContact.name.valid" 
                    :message-error="'Put your Name'" v-model="formContact.name.value"/>
                </div>
              </transition>
              <transition name="fadeIn" mode="out-in">
                <div flex-item="12" class="mt++ mb" v-show="getMessage">
                  <text-input 
										:name="'email'"
										:placeHolder="'Email'" 
                    :inputtype="'email'" 
                    :required="true" 
                    :valid="formContact.email.valid"
                    :message-error="'Put your Email'" v-model="formContact.email.value"/>
                </div>
              </transition>
            </div>
            <transition name="fadeIn" mode="out-in">
              <div class="display-block mt+++ mb+++" v-show="getMessage">
                <button-link :on-click="sendForm" :buttonType="'form'" :routeName="''" class="m++" :disabled="false">Hola que tal</button-link>
              </div>
            </transition>
            <transition name="fadeIn" mode="out-in">
              <span class="fs-foot tc-black-2 letter-spacing-none line-height-none" v-show="getMessage">Todo lo que hago, todo lo que me propongo lo consigo, puedes estar seguro de que daré mas del 1000% de mí para cumplir tus espectativas y juntos seremos mejores. design.code.live</span>
            </transition>
          </form>
				</div>
      </section>
    </section>
</template>
<script>
	import ButtonLink       from './ButtonLink.vue'
	import TextInput        from './TextInput.vue'
	import handleMixin      from '../mixins/handleScroll.vue'

	let windowHeight =  Math.max(document.documentElement.clientHeight, window.innerHeight || 0)

	export default {
		data: () => {
			return {
				formContact: {
          message: {
            value: '',
            valid: true
          },
          name: {
            value: '',
            valid: true
          },
          email: {
            value: '',
            valid: true
          }
        }
			}
		},
		components: {
			ButtonLink,
      TextInput
		},
		mixins: [ handleMixin ],
		methods: {
			sendForm(e) {
				this.formSubmit = true;
				console.log(this.formContact);
				this.formContact.message.valid = (!this.formContact.message.value) ? false : true;
				this.formContact.name.valid = (!this.formContact.name.value) ? false : true;
				this.formContact.email.valid = (!this.formContact.email.value) ? false : true;
			}
		},
		computed: {
			getMessage() {
        return this.formContact.message.value ? true : false
      }
		},
		mounted() {

		},
		directives: {
      // 'scrollAnimation': ScrollAnimation
    }
	}
</script>