<template>
  <section class="menu-lateral tc-white full-width" v-bind:class="{'show':computedToggleMenu}" flex-container="row" flex-align="space-between center">
    <section id="Projects" class="full-height p++++ menu-lateral-left bgc-black" flex-container="row" flex-align="start center" flex-item="4" v-bind:class="{ [hoverClass]: currentItemLeft != null }">
      <nav class="fs-body display-block text-bold">
        <span class="menu-title display-block fs-foot text-bold tc-white">Projects</span>
        <ul class="menu-list">
          <li v-for="(row, key) in menuleft"
            v-on:mouseover="hover(1, row, key)" 
            v-on:mouseleave="leave()" class="unhover fs-title-1 tc-white"
            v-bind:class="{'hover' : currentItemLeft == key}"
            @click="hideMenu()">
            <router-link :to="'/Project/'+row.link" class="fs-title-1 tc-white line-height-none">{{row.name}}</router-link>
          </li>
        </ul>
      </nav>
    </section>
    <section id="MenuRight" class="full-height p++++ menu-lateral-right bgc-black" flex-container="row" flex-align="start center" flex-item="8">
      <nav class="fs-large-title text-bold ml+++">
        <ul class="menu-list">
          <li v-for="(row, key) in menuright"
            v-on:mouseover="hover(2, row, key)" 
            v-on:mouseleave="leave()" 
            v-bind:class="{'hover' : currentItemRight == key, 'unhover': currentItemRight != key && currentItemRight != null}"
            @click="hideMenu()">
            <router-link :to="'/'+row.link" class="text fs-large-title content tc-white">
              <span class="display-block">{{row.name}}</span>
              <span class="display-block">{{row.nameHover}}</span>
            </router-link>
            <!-- <p class="text fs-large-title content">
              <span class="display-block">{{row.name}}</span>
              <span class="display-block">{{row.nameHover}}</span>
            </p> -->
          </li>
        </ul>
      </nav>
    </section>
  </section>
</template>
<script>
  import Store from '../store'
  export default {
    data: function() {
      return {
        currentItemRight: null,
        currentItemLeft: null,
        hoverClass: null,
        menuleft: [
          {
            name: 'Formalizar',
            bgColor: 'bgc-blue',
            tcColor: 'tc-white',
            link: 'Formalizar'
          },
          {
            name: 'Delyfast',
            bgColor: 'bgc-green',
            tcColor: 'tc-white',
            link: 'DelyFast'
          },
          {
            name: 'Kvell',
            bgColor: 'bgc-orange',
            tcColor: 'tc-white',
            link: 'kvell'
          }
        ],
        menuright: [
          {
            name: 'Projects',
            nameHover: 'My Work',
            bgColor: 'bgc-blue',
            link: 'Home/#projects'
          },{
            name: 'About me',
            nameHover: 'Soy yo',
            bgColor: 'bgc-red',
            link: 'AboutMe'
          },{
            name: 'Designs',
            nameHover: 'Minhas artes',
            nameHover: 'My Work',
            bgColor: 'bgc-yellow',
            link: 'AboutMe'
          },{
            name: 'Contact me :)',
            nameHover: 'Say hola mundo',
            bgColor: 'bgc-orange',
            link: 'Home'
          }
        ]
      }
    },
    
    computed: {
      computedToggleMenu() {
        return Store.getters.getMenuStatus
      }
    },

    methods: {
      hover(_t, _r, _k) {
        if (_t == 1) {
          this.hoverClass = _r.bgColor + ' ' + _r.tcColor;
          this.currentItemLeft = _k;
        } else {
          this.currentItemRight = _k;
        }
      },
      leave() {
        this.hoverClass = null;
        this.currentItemRight = null;
        this.currentItemLeft = null;
      },
      hideMenu() {
        Store.dispatch('toggleMenu', false)
      }
    }
  }
</script>