<template>

  <nav  id="main-menu" 
        flex-item="12" 
        flex-container="row" 
        flex-align="space-between" 
        class="pl pr pt full-width nav-float">
    <div id="logo" class="m logo" v-on:mouseover="logoOver()" v-on:mouseleave="logoLeave()">
      <router-link to="/" class="fs-caption-2 tc-black">
        <span class="logoname fs-bold">{{logoName}}</span>
        <span class="logoback" v-bind:class="{ 'logoOverClass': over, 'logoLeaveClass': leave }"></span>
      </router-link>
    </div>
    <div class="m menu-container">
      <!-- <span class="fs-caption-2 fs-bold p- pl+ menu-burguer" 
        v-bind:class="{'tc-white': computedToggleMenu}" 
        @click="showMenu()" v-if="!menuStatus">Menu</span> -->
      <!-- <span class="fs-caption-2 fs-bold p- pl+ menu-burguer" 
        v-bind:class="{'tc-white': computedToggleMenu}" 
        @click="hideMenu()" v-if="menuStatus">Menu</span> -->
        <picture @click="showMenu()" v-if="!menuStatus">
          <span class="fs-caption-2 fs-bold menu-burguer">Menu</span>
          <img src="./../assets/images/check-headphones.png" alt="" width="45">
        </picture>
        <picture @click="hideMenu()" v-if="menuStatus" class="menu-icon">
          <span class="fs-caption-2 fs-bold menu-burguer tc-white">Menu</span>
          <img src="./../assets/images/check-headphones-light.png" alt="" width="45">
        </picture>
      <!-- <transition name="vibration" mode="out-in">
        
      </transition>
      <transition name="vibration" mode="out-in">
        
      </transition> -->
    </div>
  </nav>
</template>
<script>
  import Store from '../store'
  export default {
    props: {
      menu: {
        type      : Boolean,
        required  : true
      }
    },
    data: function() {
      return {
        over      : false,
        leave     : false,
        animating : false,
        delay     : 365,
        logoName  : 'kvell arnold',
        menuStatus: false
      }
    },
    computed: {
      computedToggleMenu() {
        this.menuStatus = Store.getters.getMenuStatus
        return Store.getters.getMenuStatus
      }
    },
    methods: {
      logoOver() {
        if (this.animating) return false;
        this.animating = true
        this.over = true
      },
      logoLeave() {
        this.leave = true
        setTimeout(() => {
          this.clearAll()
        }, this.delay)
      },
      clearAll() {
        this.over = false
        this.leave = false
        this.animating = false
      },
      showMenu() {
        this.menuStatus = true;
        Store.dispatch('toggleMenu', true)
      },
      hideMenu() {
        this.menuStatus = false;
        Store.dispatch('toggleMenu', false)
      },
    }
  }
</script>