<template>
  <div class="text-input--container">
    <label :for="idGenerator" class="fs-foot" hidden>{{placeHolder}}</label>
    <textarea 
      v-if="inputtype === 'textarea'" 
      rows="1" 
      class="text-input pl0 pr0 fs-foot-note"
      :id="idGenerator"
      :name="idGenerator"
      :placeholder="placeHolder" 
      :required="required"
      :value="value" @input="updatedValue($event.target.value)"></textarea>
    <input 
      v-if="inputtype !== 'textarea'"
      class="text-input pl0 pr0 fs-foot-note" 
      :id="idGenerator"
      :name="idGenerator"
      :type="inputtype"
      :placeholder="placeHolder" 
      :required="required"
      :value="value" @input="updatedValue($event.target.value)">
    <transition name="fadeIn" mode="out-in">
      <span v-show="!valid" class="error tc-red fs-caption-1">{{messageError}}</span>
    </transition>
  </div>
</template>
<script>
    export default {
      data: function() {
        return {
            
        }
      },
      props: {
        placeHolder: {
          type: String,
          required: true  
        },
        inputtype: {
          type: String,
          required: true  
        },
        required: {
          type: Boolean
        },
        name: {
          type: String
        },
        value: {
          type: String,
          required: true
        },
        valid: {
          type: Boolean
        },
        messageError: {
          type: String
        },
        onClick: {
          type: Function
        }
      },
      methods: {
        updatedValue(d) {
          this.$emit('input', d)
          return
        }
      },
      computed: {
        idGenerator() {
          return this.name.concat(Math.round(Math.random() * 9999))
        }
      }
    }
</script>