<template>
  <transition appear :name="transitionName" mode="out-in" :duration="duration*1.5" @after-leave="afterLeave">
    <router-view class="view"></router-view>
  </transition>
</template>

<script>
export default {
  name: 'app',
  data() {
    return {
      currentPage: '',
      duration: 465,
      transitionName: 'show-view-in'
    }
  },
  methods: {
    afterLeave() {
      this.$root.$emit('triggerScroll')
    }
  },
  // watch: {
  //   $route (to, from) {
  //     document.body.scrollIntoView({behavior: 'smooth'})
  //   }
  // }
}
</script>