$font-path: '../assets/fonts/';

@font-face {
    font-family     : "Pangram";
    src             : url("#{$font-path}Pangram-Black.otf");
    font-weight     : 900; 
}
@font-face {
    font-family     : "Pangram";
    src             : url("#{$font-path}Pangram-ExtraBold.otf");
    font-weight     : 600; 
}
@font-face {
    font-family     : "Pangram";
    src             : url("#{$font-path}Pangram-Regular.otf");
    font-weight     : 400;
}