//*------------------------------------*
//  #BASE-PAGE
//*------------------------------------*
html{
    font-size: $base-font-size;
    letter-spacing: $base-text-letter-spacing;
    line-height: $base-line-height;
    background-color: $base-backgroun-color;
    color: $base-text-color;
    height: 100%;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
body{
    height: 100%;
}
main{
    height: 100%;
}
.view{
    height: 100%;
}
//HEIGHT
.min-height{
    @include transition-property(all);
    @include transition-duration($base-speed-400);
    @include transition-timing-function($ease-in-out-circ);
    @include transform(translateX(0px));
    min-height: 100%;
}
.full-height{
    @include transition-property(all);
    @include transition-duration($base-speed-400);
    @include transition-timing-function($ease-in-out-circ);
    @include transform(translateX(0px));
    height: 100%;
}
.full-width{
    width: 100%;
}
.parcial-height{
    @include transition-property(all);
    @include transition-duration($base-speed-400);
    @include transition-timing-function($ease-in-out-circ);
    @include transform(translateX(0px));
    height: 70%;
    @include media-query(palm) {
        height: 100%;
        padding: 0 !important;
        .title{
            margin-top: 50%;
            @include transform(translateY(-50%));
            span{
                line-height: .8em;
            }
        }
    }
}
.display-block{
    display: block;
}
.display-inline-block{
    display: inline-block;
}
//OVERFLOW
.over-flow{
    &-hidden{
        overflow: hidden;
    }
    &-auto{
        overflow: auto;
    }
}
.page{
    @include media-query(palm) {
        height: auto !important;
        padding-top: $base-spacing-unit * 28;
        padding-bottom: $base-spacing-unit * 18 !important;
        >.paragraph-small{
            padding: 0 !important;
        }
    }
}
.page-head{
    position: relative;
    .goto{
        position: absolute;
        right: 0;
        bottom: 0;
        cursor: pointer;
        @include transition-property(transform);
        @include transition-duration(0.225s);
        @include transition-timing-function(ease-in-out);
        @include transform(translateY(0px));
        &:after{
            background-color: $white;
            content: '';
            height: 54pt;
            position: absolute;
            right: 44pt;
            top: -54pt;
            width: 1px;
        }
        &:before{
            color: $white;
            content: 'Look';
            cursor: pointer;
            cursor: pointer;
            font-weight: 700;
            line-height: 24pt;
            position: absolute;
            right: -10pt;
            top: -78pt;
            width: 90px;
        }
        &:hover{
            @include transform(translateY(4px));
        }
    }
}