//*------------------------------------*
//  #BASE-PARAGRAPH
//*------------------------------------*

// Paragraph mixin
@mixin paragraph() {
    h1, h2, h3, h4, h5, h6,
    ul, ol, dl,
    blockquote, p, address,
    table,
    fieldset, figure,
    pre,
    hr,
    iframe {
        margin-bottom: $base-spacing-unit * 3;

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul, ol, dd {
        margin-left: $base-spacing-unit * 6;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

// Paragraph base styles
.paragraph,
%paragraph {
    @include paragraph;
}

.paragraph-small,
%paragraph-small{
    @include media-query(desk){
        width: 50vw;
    }
    @include media-query(palm){
        width: 100vw;
    }
}

.paragraph-medium,
%paragraph-medium{
    @include media-query(desk){
        width: 80vw;
    }
    @include media-query(palm){
        width: 100vw;
    }
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-upper-case{
    text-transform: uppercase !important;
}
.text-lower-case{
    text-transform: lowercase !important;
}
.text-bold{
    font-weight: 700;
}