// Typography mixin
@mixin typography($type) {
    @if $type == 'title-1' or $type == 'title-2' or $type == 'title-3' or $type == 'large-title' {
        font-family: 'Pangram', sans-serif;
        font-weight: 600;
    }
    @if $type == 'foot' {
        @include media-query(portable) {
            @include font-size(9pt);
            line-height: 14pt;
        }
        @include media-query(desk) {
            @include font-size(8pt);
            line-height: 13pt;
        }
    }
    @if $type == 'caption-1' {
        @include media-query(portable) {
            @include font-size(12pt);
            line-height: 16pt;
        }
        @include media-query(desk) {
            @include font-size(11pt);
            line-height: 13pt;
        }
    }
    @if $type == 'caption-2' {
        @include media-query(portable) {
            @include font-size(13pt);
            line-height: 19pt;
        }
        @include media-query(desk) {
            @include font-size(12pt);
            line-height: 18pt;
        }
    }
    @if $type == 'foot-note' {
        @include font-size(13pt);
        line-height: 18pt;
    }
    @if $type == 'sub-head' {
        @include media-query(portable) {
            @include font-size(16pt);
            line-height: 27pt; 
        }
        @include media-query(desk) {
            @include font-size(15pt);
            line-height: 24pt; 
        }
    }
    @if $type == 'body' {
        @include media-query(portable) {
            @include font-size(17pt);
            line-height: 32pt;  
        }
        @include media-query(desk) {
            @include font-size(23pt);
            line-height: 42pt;  
        }
    }
    @if $type == 'title-1' {
        @include font-size(26pt);
        line-height: 44pt;
    }
    @if $type == 'title-2' {
        @include font-size(28pt);
        line-height: 48pt;
    }
    @if $type == 'title-3' {
        @include font-size(34pt);
        line-height: 54pt;
    }
    @if $type == 'large-title' {
        @include font-size(52pt);
        line-height:72pt;
    }
}

// Typography variants
.fs-foot,
%fs-foot {
    @include typography('foot');
}
.fs-caption-1,
%fs-caption-1 {
    @include typography('caption-1');
}
.fs-caption-2,
%fs-caption-2 {
    @include typography('caption-2');
}
.fs-foot-note,
%fs-foot-note {
    @include typography('foot-note');
}
.fs-sub-head,
%fs-sub-head {
    @include typography('sub-head');
}
.fs-body,
%fs-body {
    @include typography('body');
}
.fs-title-1,
%fs-title-1 {
    @include typography('title-1');
}
.fs-title-2,
%fs-title-2 {
    @include typography('title-2');
}
.fs-title-3,
%fs-title-3 {
    @include typography('title-3');
}
.fs-large-title,
%fs-large-title {
    @include typography('large-title');
}
.fs-oswald,
%fs-oswald {
    @include typography('oswald');
}

//Font weight
.fs-lighter,
%fs-lighter {
    font-weight: 200;
}
.fs-medium,
%fs-medium {
    font-weight: 400;
}
.fs-bold,
%fs-bold {
    font-weight: 600;
}
.fs-black,
%fs-black {
    font-weight: 900;
}
