<template>

  <main class="bgc-white" flex-container="row" flex-column="12" flex-wrap>
    <main-menu v-bind:menu="toggleMenu"/>
    <slot></slot>
    <lateral-menu></lateral-menu>
    <!-- <div class="loading-page"></div> -->
    <!-- Footer -->
    <kv-footer></kv-footer>
  </main>
</template>

<style lang="scss">
  @import "../styles/main.scss";
</style>

<script>
  import MainMenu       from '../components/MainMenu.vue'
  import LateralMenu    from '../components/LateralMenu.vue'
  import KvFooter       from '../components/Footer.vue'
  
  export default {
    data: function() {
      return {
        toggleMenu: false
      }
    },
    components: {
      MainMenu,
      LateralMenu,
      KvFooter
    },    
    methods: {
      
    },
    directives: {
      
    }
  }
</script>